.slider {
	position: relative;
	width: 600px;
	margin: $center;
	margin-top: 50px;
	padding: 0 40px;
}

.slider .slick-arrow {
	position: absolute;
	top: 60px;
	margin-top: -30px;
	z-index: 1;
	font-size: 0;
}

.slider .slick-arrow.slick-next {
	left: 0;
	width: 30px;
	height: 50px;
	background: url("../img/slider-arrow-left.svg") 0 0 / 100% no-repeat;
	border: none;
}

.slider .slick-arrow.slick-prev {
	right: 0;
	width: 30px;
	height: 50px;
	background: url("../img/slider-arrow-right.svg") 0 0 / 100% no-repeat;
	border: none;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li {
	margin: 0 5px;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid olive;
}

/* Элемент точки */
.slider .slick-dots li button {
	font-size: 0;
	width: 20px;
	height: 20px;
	background-color: olive;
	border: none;
	border-radius: 50%;
}

.slider .slick-track {
	display: flex;
}

.slider .slick-list {
	overflow: hidden;
}
