.main-block {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: $small;
	min-height: 800px;
}

//========== @media  tablet =======================
// @media (min-width: $middle) {
// 	.main-block {
// 		width: $middle;
// 		border: 1px dotted red;
// 	}
// }
